Web_PeruHotel/App_WebReferences/ProxyCliente/WCF_PeruHotel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_PeruHotel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_PeruHotel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClieApeMater" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieApePater" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieContra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieNom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieSexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClieTipoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdUbigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataCliente" nillable="true" type="tns:DataCliente" />
  <xs:complexType name="ArrayOfDataCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataCliente" nillable="true" type="tns:DataCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataCliente" nillable="true" type="tns:ArrayOfDataCliente" />
</xs:schema>