Web_PeruHotel/App_WebReferences/ProxyHabitacion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioHabitacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_PeruHotel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioHabitacion_ListarTipoHabitacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoHabitacion" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarTipoHabitacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoHabitacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarHabitacionDisponiblePorTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitacionDisponiblePorTipo" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_ListarHabitacionDisponiblePorTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarHabitacionDisponiblePorTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_GetDetalleTipoHabitacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleTipoHabitacion" />
  </wsdl:message>
  <wsdl:message name="IServicioHabitacion_GetDetalleTipoHabitacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleTipoHabitacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioHabitacion">
    <wsdl:operation name="ListarTipoHabitacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarTipoHabitacion" message="tns:IServicioHabitacion_ListarTipoHabitacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarTipoHabitacionResponse" message="tns:IServicioHabitacion_ListarTipoHabitacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarHabitacionDisponiblePorTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarHabitacionDisponiblePorTipo" message="tns:IServicioHabitacion_ListarHabitacionDisponiblePorTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHabitacion/ListarHabitacionDisponiblePorTipoResponse" message="tns:IServicioHabitacion_ListarHabitacionDisponiblePorTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetalleTipoHabitacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioHabitacion/GetDetalleTipoHabitacion" message="tns:IServicioHabitacion_GetDetalleTipoHabitacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioHabitacion/GetDetalleTipoHabitacionResponse" message="tns:IServicioHabitacion_GetDetalleTipoHabitacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioHabitacion" type="tns:IServicioHabitacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTipoHabitacion">
      <soap:operation soapAction="http://tempuri.org/IServicioHabitacion/ListarTipoHabitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarHabitacionDisponiblePorTipo">
      <soap:operation soapAction="http://tempuri.org/IServicioHabitacion/ListarHabitacionDisponiblePorTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetalleTipoHabitacion">
      <soap:operation soapAction="http://tempuri.org/IServicioHabitacion/GetDetalleTipoHabitacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioHabitacion">
    <wsdl:port name="BasicHttpBinding_IServicioHabitacion" binding="tns:BasicHttpBinding_IServicioHabitacion">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_PeruHotel/ServicioHabitacion/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>