CapaAccesoServicios/Service References/ProxyUbigeo/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hotel" />
  <xs:element name="GetAllContinentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContinentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Hotel" minOccurs="0" name="GetAllContinentesResult" nillable="true" type="q1:ArrayOfdataUbigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPaises">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codContinente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Hotel" minOccurs="0" name="GetAllPaisesResult" nillable="true" type="q2:ArrayOfdataUbigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCiudades">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codContinente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codPais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCiudadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Hotel" minOccurs="0" name="GetAllCiudadesResult" nillable="true" type="q3:ArrayOfdataUbigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdUbigeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codContinente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codPais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codCiudad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdUbigeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdUbigeoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>