Windows_Hotel/Service References/ProxyHabitaciones/WCF_Hotel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hotel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hotel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdataHabitacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dataHabitacion" nillable="true" type="tns:dataHabitacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdataHabitacion" nillable="true" type="tns:ArrayOfdataHabitacion" />
  <xs:complexType name="dataHabitacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="HabiNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HabiPiso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdHabitacon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdHotel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoHabi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoNumCamas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPrecio" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dataHabitacion" nillable="true" type="tns:dataHabitacion" />
</xs:schema>