CapaAccesoServicios/Service References/ProxyRegistroReserva/WCF_Hotel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hotel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hotel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataRegistro">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClieDni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdHabi1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdHabi2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdHabi3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReserFechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReserFechaSalida" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRegistro" nillable="true" type="tns:DataRegistro" />
</xs:schema>