CapaAccesoServicios/Service References/ProxyReserva/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioReserva" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hotel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioReserva_ListarReservas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservas" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_ListarReservas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_GetDetalleReservaHabitaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleReservaHabitaciones" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_GetDetalleReservaHabitaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleReservaHabitacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_GetDetalleReservaServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleReservaServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioReserva_GetDetalleReservaServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetalleReservaServicioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioReserva">
    <wsdl:operation name="ListarReservas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservas" message="tns:IServicioReserva_ListarReservas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/ListarReservasResponse" message="tns:IServicioReserva_ListarReservas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetalleReservaHabitaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/GetDetalleReservaHabitaciones" message="tns:IServicioReserva_GetDetalleReservaHabitaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/GetDetalleReservaHabitacionesResponse" message="tns:IServicioReserva_GetDetalleReservaHabitaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetalleReservaServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioReserva/GetDetalleReservaServicio" message="tns:IServicioReserva_GetDetalleReservaServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioReserva/GetDetalleReservaServicioResponse" message="tns:IServicioReserva_GetDetalleReservaServicio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioReserva" type="tns:IServicioReserva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarReservas">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/ListarReservas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetalleReservaHabitaciones">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/GetDetalleReservaHabitaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetalleReservaServicio">
      <soap:operation soapAction="http://tempuri.org/IServicioReserva/GetDetalleReservaServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioReserva">
    <wsdl:port name="BasicHttpBinding_IServicioReserva" binding="tns:BasicHttpBinding_IServicioReserva">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Hotel/ServicioReserva/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>